/* 보영샘연습 소개페이지  */

li{list-style: none;}
/* body{ overflow-x: hidden;} */
#gnb a,#ft a{color: black; text-decoration: none;}
#hd > div {border-bottom: solid 1px black;}
#hd h1 img{width: 60px;}

.open .fa-bars{display: none;}
.open .fa-xmark{display: block;}

.fa-bars{display:block;}
.fa-xmark{display: none;}

#gnb > a{ color: #fff !important;}
.open + ul{display: flex !important; position: fixed; background-color: rgb(219, 237, 175);
    left: 0; right: 0; top: 80px; flex-direction: column; justify-content: center;
    align-items: center; padding: 30px 0; line-height: 2;}

.open + #gnb:before{ content:""; display: block; position:absolute; 
    width: 30px; height: 30px; background-color: rgb(219, 237, 175); left: 0; right: 0; margin: auto;
    transform: rotate(-45deg); top: -6px;}

#main > div{height: 100vh;}

#gnb a.act{color: orange;} 

#portfolio .swiper-slide{
    max-height: 700px; /*데스크탑 이미지의 실높이*/
    height: 100vw; /*화면너비만큼높이 줄게*/
}

#portfolio .sir{
    background-image: url(https://scontent-ssn1-1.xx.fbcdn.net/v/t1.18169-9/26169341_1013910405415073_7677965563075928693_n.png?_nc_cat=100&ccb=1-7&_nc_sid=e3f864&_nc_ohc=NpT1JWttx1kAX-HE1gf&tn=uuByowFSMrbslipS&_nc_ht=scontent-ssn1-1.xx&oh=00_AT-vp4rxebXci4ORO0oCD_GWZ8UgHFIInA9fxAwq38hQlA&oe=62FDFAC3);
    background-repeat: no-repeat;
    background-size: contain;
}
#portfolio .hardcord{
    background-image: url(http://www.poscomtech.com/resources/images/main/main_visual_bg_02.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

/* 무임승차: 최적화  */
#me h2{background-color: rgb(111, 209, 131) !important; transition: 0.5s; 
    transition-delay:1s; black;}